body, ul, h1, h2, a{
    margin:0;
    padding:0
}
body{
    font-family: 'Raleway',sans-serif;
}
nav li a {
    font-family: 'PT Sans', sans-serif;
}


header{
    background:black;
    padding:15px;
    text-align: center;
    position:fixed;
    width: 100%;
    z-index:1;
    top:0;
    left: 0;
  
     color: white;
    
   
    
}
header h1 {
    color:white;
    border:8px solid white;
    padding: 6px 12px ;
    display:inline-block;
    border-radius: 30px;
    top:10px;
    
    
}
nav.main-nav{
    
    
        position: -webkit-sticky;
       position: sticky;
        top: 95px;
        background-color: #f4f4f4;
      
        font-size: 20px;
      
}
nav.main-nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding:6px;
}
nav.main-nav li {
    width:20%;
    display:inline-block;
    font-size:24px;
}
nav.main-nav li a {
    text-decoration: none;
   color: black;

    

}
nav.main-nav li a.join{
    color:#f63232;
}




.banner{
    position: relative; 
}
.banner img{
    max-width:100%;

}
.banner .welcome{
     position: absolute;
     left: 0px;
     top: 30%;
     color:black;
 
     
     padding: 20px;
}
.banner h2 {
    font-size:74px;
}
.banner h2 span{
    font-size: 1.3em;
}
.sam{
    font-size: 30px;
    color: #4b4b4b;
}

main{
    max-width: 100%;
    width : 1200px;
    margin: 80px auto;
    padding: 0px 40px;
    box-sizing: border-box;
} 
article h2{
    color:#f63232;
}
.images
{
    text-align:center;
    margin:80px 0;
    white-space: nowrap;
}
.images li{
    display:inline-block;
    list-style-type: none ;
    width:40%; 
    margin: 20px 5%;
}
.images li img{
    max-width:120%;
}
.meet{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color:#4b4b4b;

}
.meet h2{
    font-size: 36px;
}
.Copyright{
    font-size:16px;
    background-color:#f63232;
    color:white;
    padding:10px;
    text-align:center;
}
.img{
    text-align:center;
    margin:70px 0;
    white-space: nowrap;
    
}
.img li img{
    max-width:120%;
}
.img li {
    display:inline-block;
    list-style-type: none ;
    width:40%; 
    margin: 20px 5%;
}

.main h2{
    color: #f63232;
    text-align: center;
}
.main h4.red {
    color: #f63232;
    text-align: center;
}

.main a.hi{
    text-decoration: none;
    color: black;
    text-align: center;
    white-space :nowrap;
}

.bye li{
    list-style-type: none;
 
}
.bye li a {
    font-family: Raleway;
    white-space: nowrap;
    align-items: center;
    
 
}
.main h4{
    color: #f63232;

}
nav li a:hover{
    text-decoration: underline;
}
.bye li a {
    font-family: Raleway;
    white-space: nowrap;
    align-items: center;
    
 
}
@media screen and (max-width:1082px){
   .banner .welcome h2{
       font-size:60px;
   }
   nav li a {
       font-size: 20px;
   }
}
@media screen and (max-width:813px){
    .banner .welcome h2{
        font-size:40px;
    }
    nav li a {
        font-size: 16px;
    }
    header{
        position:relative;
    }
}
@media screen and (max-width:570px){
    .banner .welcome h2{
        font-size:30px;
    }
    nav li  {
        font-size: 12px;
    }
    header{
        position:relative;
    }
   
}
@media screen and (max-width:427px){
    
    .banner .welcome{
        background: white;
        position: relative;
        text-align: center;
        padding:10px;
    }.banner .welcome h2{
        font-size:22px;
    }
    nav li a {
        font-size: 8px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome span{
        font-size:1em;
    }
    .images li{
        width:100%;
        margin:20px auto;
        display:block;
    }
    header{
        position:relative;
    }
    nav{
        top: 0px;
    }
}
.align_to_center{
    text-align:center;
    align:center;
}



